.cache
.DS_Store
.idea
.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
coverage
dist
node_modules
server/dist
public/dist
docs/dist
lib
dist
cache
.cache
.turbo
coverage
node_modules

.eslintcache
.changeset/README.md
*.tsbuildinfo

.idea
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
